.chat-space-screen {
  display: flex;
  height: inherit;
  overflow: hidden;

  .sidebar {
    height: calc(100vh - 30px);
    width: 266px;

    .sidebar-content {
      position: fixed;
      left: 0;
      width: inherit;
      height: inherit;
      padding: 0;
      background-color: #202123;

      .home-page-sidebar {
        margin-top: 16px;
        padding: 0 8px;
      }

    }
  }

  .content {
    flex: 1;
    display: flex;
    justify-content: center;
    overflow: auto;
  }
}
